@use 'sass:map';

$breakpoints:(
    mobile: 480px,
    tablet: 768px,
    desktop: 992px
);

@mixin mq($key){
    $size: map.get($breakpoints, $key);

    @media(min-width: $size){
        @content;
    }
}